.oneline {
  display: block;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

/*******************************************************************
					Cart Block Styles
********************************************************************/
.shopping_cart_header {
  /* float: right; */
  margin: 18px 0 16px;
  }
  @media (max-width: 767px) {
    .shopping_cart_header {
      float: none;
      margin: 30px 10px 0;
      display: inline-block; } }
  .shopping_cart_header .shopping_cart {
    position: relative;
    height: 55px;
    /* padding-top: 22px; */
    /* top: 22px; */
    float: right;
    }
    .header-container.scroll-menu #header .shopping_cart_header .shopping_cart {
        top: 10px;
    }
    .shopping_cart_header .shopping_cart a.current {
      display: inline-block;
      line-height: 50px;
      font-size: 14px;
      color: #6b6b6b;
      font-weight: 400;
      padding: 0 35px 0 60px;
      position: relative;
      background: url(../../../img/sundevice-sprite1.png) 7px -662px no-repeat;
      margin-top: 0;
      border: 1px solid #e5e5e5;
      border-bottom: 0;
      background-color: #f0f0f0;
      border-radius: 4px 4px 0 0;
      width: auto;
      text-align: center;
      }
      .shopping_cart_header .shopping_cart a.current .ajax_cart_quantity {
        display: inline-block !important;
        /* color: #fff; */
        font-size: 20px;
        position: relative;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
        }
        .shopping_cart_header .shopping_cart a.current .ajax_cart_quantity:before {
          content: "";
          display: block;
          width: 5px;
          height: 8px;
          position: absolute;
          z-index: 1;
          top: 0;
          bottom: 0;
          right: -23px;
          margin: auto 0;
          /* background: #18a6f0; */
          border: 8px solid #18a6f0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: none;
          -moz-transition: all 300ms ease;
          -o-transition: all 300ms ease;
          -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
          }
        .shopping_cart_header .shopping_cart a.current .ajax_cart_quantity span {
          position: relative;
          z-index: 2; }
      .shopping_cart_header .shopping_cart a.current:hover, .shopping_cart_header .shopping_cart a.current.active {
          background: url(../../../img/sundevice-sprite1.png) 10px -701px no-repeat #18a6ef;
          color: #FFF;
          background-size: 50px;
      }
        .shopping_cart_header .shopping_cart a.current:hover .ajax_cart_quantity, .shopping_cart_header .shopping_cart a.current.active .ajax_cart_quantity {
          /*background: #d82e2e;*/ }
          .shopping_cart_header .shopping_cart a.current:hover .ajax_cart_quantity:before, .shopping_cart_header .shopping_cart a.current.active .ajax_cart_quantity:before {
            /*background: #d82e2e;*/
            border-top-color: #fff; }

.cart_block .cart_block_list .remove_link {
  position: absolute;
  right: 10px;
  top: 45%; }
.cart_block .cart_block_list .remove_link a,
.cart_block .cart_block_list .ajax_cart_block_remove_link {
  color: #777;
  display: block;
  width: 100%;
  height: 100%; }
  .cart_block .cart_block_list .remove_link a:before,
  .cart_block .cart_block_list .ajax_cart_block_remove_link:before {
    display: inline-block;
    content: "\f00d";
    font-family: "FontAwesome";
    font-size: 18px;
    line-height: 18px; }
  .cart_block .cart_block_list .remove_link a:hover,
  .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
    color: #d82e2e; }
.cart_block .cart-images {
  float: left;
  margin-right: 20px; }
.cart_block .cart-info {
  overflow: hidden;
  position: relative;
  padding-right: 20px; }
  .cart_block .cart-info .product-name {
    padding-bottom: 5px;
    overflow: hidden; }
    .cart_block .cart-info .product-name a {
      font-size: 12px;
      text-transform: uppercase;
      line-height: 25px;
      display: block;
      overflow: hidden; }
  .cart_block .cart-info .quantity-formated {
    display: block;
    float: left;
    color: #9c9b9b;
    text-transform: uppercase;
    font-size: 10px;
    padding-right: 5px; }
    .cart_block .cart-info .quantity-formated .quantity {
      font-size: 15px; }
.cart_block dt {
  font-weight: normal;
  overflow: hidden;
  padding: 20px 10px 16px 20px;
  position: relative; }
.cart_block dd {
  position: relative; }
  .cart_block dd .cart_block_customizations {
    border-top: 1px dashed #333; }
    .cart_block dd .cart_block_customizations li {
      padding: 10px 20px; }
      .cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
        position: absolute;
        right: 10px; }
.cart_block .cart_block_no_products {
  margin: 0;
  padding: 10px 20px; }
.cart_block .cart-prices {
  border-top: 1px solid #d6d4d4;
  font-weight: bold;
  padding: 10px 20px 22px 20px; }
  .cart_block .cart-prices .cart-prices-line {
    overflow: hidden;
    border-bottom: 1px solid #515151;
    padding: 7px 0; }
    .cart_block .cart-prices .cart-prices-line.last-line {
      border: none; }
.cart_block .cart-buttons {
  overflow: hidden;
  padding: 20px 20px 10px 20px;
  margin: 0;
  border-top: 1px solid #e5e5e5;
  background: #d82e2e; }
  .cart_block .cart-buttons a {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px; }
    .cart_block .cart-buttons a#button_order_cart {
      margin-right: 0;
      border: none; }
      .cart_block .cart-buttons a#button_order_cart span {
        padding: 7px 0;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        text-align: center;
        border: 0;
        background: #d82e2e;
        color: #fff;
        border: 2px solid #fff;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease; }
      .cart_block .cart-buttons a#button_order_cart:hover span {
        background: #fff;
        color: #333;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease; }

/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header .cart_block {
  position: absolute;
  top: 50px;
  right: -155px;
  z-index: 100;
  display: none;
  height: auto;
  background: #fff;
  color: #262626;
  width: 270px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.04);
  }
  #header .cart_block .bloc_quantity_price {
	  display: none !important;
  }

 .shopping_cart_header .shopping_cart:hover  .cart_block {
  display: block !important;
}
  @media (min-width: 768px) {
    #header .cart_block {
      width: 300px;
      right: 0; } }
  #header .cart_block a {
    color: #262626;
    padding: 0; }
    #header .cart_block a:hover {
      color: #d82e2e; }
  #header .cart_block .cart_block_list .remove_link a,
  #header .cart_block .cart_block_list .ajax_cart_block_remove_link {
    color: #262626;
    outline: none;
    text-decoration: none; }
    #header .cart_block .cart_block_list .remove_link a:hover,
    #header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
      color: #d82e2e; }
  #header .cart_block .price {
    color: #262626; }
  #header .cart_block dt {
    border-top: 1px solid #e5e5e5; }
    #header .cart_block dt.first_item {
      border-top: none; }
  #header .cart_block .product-atributes {
    padding-bottom: 10px;
    font-size: 11px; }
    #header .cart_block .product-atributes a {
      color: #9c9b9b; }
      #header .cart_block .product-atributes a:hover {
        color: #d82e2e; }
#header .block_content {
  margin-bottom: 0; }

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
  display: none; }

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
  float: right; }

.cart_block table.vouchers {
  clear: both;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px; }
  .cart_block table.vouchers tr td {
    padding: 2px; }
    .cart_block table.vouchers tr td.quantity {
      margin-right: 5px;
      min-width: 18px; }
    .cart_block table.vouchers tr td.delete {
      padding-left: 0;
      padding-right: 0;
      text-align: right;
      width: 15px; }

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

#layer_cart {
	background-color: #fff;
    position: fixed;
    display: none;
    z-index: 99;
    width: 66%;
    right: 17%;
    top: 60px !important;
    /* margin-right: 3%; */
    /* margin-left: 3%; */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  #layer_cart .layer_cart_product {
    padding: 30px 30px 30px 30px;
    overflow: hidden;
    position: static; }
    #layer_cart .layer_cart_product .title {
      display: block;
      font-size: 23px;
      line-height: 29px;
      font-weight: 400;
      color: #46a74e;
      margin-bottom: 22px; }
      @media (max-width: 767px) {
        #layer_cart .layer_cart_product .title {
          font-size: 18px;
          padding-right: 0;
          line-height: normal; } }
      #layer_cart .layer_cart_product .title i {
        font-size: 30px;
        line-height: 30px;
        float: left;
        padding-right: 8px; }
        @media (max-width: 767px) {
          #layer_cart .layer_cart_product .title i {
            font-size: 22px;
            line-height: 22px; } }
    #layer_cart .layer_cart_product .product-image-container {
      max-width: 178px;
      border: 1px solid #d6d4d4;
      padding: 5px;
      float: left;
      margin-right: 30px; }
      @media (max-width: 480px) {
        #layer_cart .layer_cart_product .product-image-container {
          float: none;
          margin-right: 0;
          margin-bottom: 10px; } }
    #layer_cart .layer_cart_product .layer_cart_product_info {
      padding: 0; }
      #layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
        display: block;
        padding-bottom: 8px; }
      #layer_cart .layer_cart_product .layer_cart_product_info > div {
        padding-bottom: 7px; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div strong {
          padding-right: 3px; }
  #layer_cart .layer_cart_cart {
    background: #fafafa;
    border-left: 1px solid #d6d4d4;
    padding: 30px 30px 170px 30px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px 4px 4px 0px;
    position: relative; }
    @media (min-width: 1200px) {
      #layer_cart .layer_cart_cart {
        min-height: 318px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      #layer_cart .layer_cart_cart {
        min-height: 360px; } }
    @media (max-width: 991px) {
      #layer_cart .layer_cart_cart {
        -moz-border-radius: 0px 0 4px 4px;
        -webkit-border-radius: 0px;
        border-radius: 0px 0 4px 4px;
        border-left: none;
        border-top: 1px solid #d6d4d4; } }
    #layer_cart .layer_cart_cart .title {
      display: block;
      font-size: 23px;
      line-height: 29px;
      font-weight: 400;
      color: #333;
      border-bottom: 1px solid #d6d4d4;
      padding-bottom: 13px;
      margin-bottom: 17px; }
      @media (max-width: 767px) {
        #layer_cart .layer_cart_cart .title {
          font-size: 18px; } }
    #layer_cart .layer_cart_cart .layer_cart_row {
      padding: 0 0 7px 0; }
    #layer_cart .layer_cart_cart .button-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0px 30px 20px 30px; }
      #layer_cart .layer_cart_cart .button-container .btn {
        margin-bottom: 10px; }
      #layer_cart .layer_cart_cart .button-container span.exclusive-medium {
        margin-right: 5px; }
        #layer_cart .layer_cart_cart .button-container span.exclusive-medium i {
          padding-right: 5px;
          color: #fff; }
  #layer_cart .cross {
    position: absolute;
    right: 7px;
    top: 8px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #333;
    z-index: 2; }
    #layer_cart .cross:before {
      content: "\f057";
      display: block;
      font-family: "FontAwesome";
      font-size: 25px;
      line-height: 25px; }
    #layer_cart .cross:hover {
      color: #515151; }
  #layer_cart .continue {
    cursor: pointer; }
  #layer_cart p {
    padding: 0px; }

/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
  border-top: 1px solid #d6d4d4;
  padding: 26px 30px 40px 30px;
  position: relative; }
#layer_cart .crossseling h2 {
  font: 400 23px/26px Arial, Helvetica, sans-serif;
  color: #333;
  margin-bottom: 25px; }
#layer_cart .crossseling #blockcart_list {
  max-width: 773px;
  width: 84%;
  margin: 0 auto;
  overflow: hidden; }
  #layer_cart .crossseling #blockcart_list ul {
    display: block; }
    #layer_cart .crossseling #blockcart_list ul li {
      float: left;
      width: 178px;
      margin: 0 0px 0 0; }
      #layer_cart .crossseling #blockcart_list ul li .product-image-container {
        border: 1px solid #d6d4d4;
        text-align: center;
        padding: 5px;
        margin-bottom: 15px; }
        #layer_cart .crossseling #blockcart_list ul li .product-image-container img {
          width: 100%; }
      #layer_cart .crossseling #blockcart_list ul li .product-name {
        padding-bottom: 5px; }
        #layer_cart .crossseling #blockcart_list ul li .product-name a {
          font-size: 15px;
          line-height: 20px; }
  #layer_cart .crossseling #blockcart_list a.bx-prev,
  #layer_cart .crossseling #blockcart_list a.bx-next {
    display: block;
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #333;
    text-indent: -5000px;
    position: absolute;
    top: 45%;
    margin-top: -20px; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after,
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      display: block;
      text-indent: 0; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:hover,
    #layer_cart .crossseling #blockcart_list a.bx-next:hover {
      color: #c0c0c0; }
    #layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
    #layer_cart .crossseling #blockcart_list a.bx-next.disabled {
      display: none; }
  #layer_cart .crossseling #blockcart_list a.bx-prev {
    left: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after {
      content: "\f137"; }
  #layer_cart .crossseling #blockcart_list a.bx-next {
    right: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      content: "\f138"; }
  #layer_cart .crossseling #blockcart_list .bx-controls {
    overflow: hidden; }

