@import "compass";
@import "theme_variables";

.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
	.owl-wrapper-outer{
		overflow: hidden;
		position: relative;
		width: 100%;
		&.autoHeight{
			@include transition(height 500ms ease-in-out);
		}
	}
	.owl-wrapper{
		display: none;
		position: relative;
		@include transform(translate3d(0,0,0));
		@include backface-visibility(hidden);
		&:after{
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}
		.owl-item{
			float: left;
			padding: 0 15px;
			@include transform(translate3d(0,0,0));
			@include backface-visibility(hidden);
			.item{
				position: relative;
			}
		}
	}
	.owl-controls {
		@include user-select(none);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		.owl-page, .owl-buttons div{
			cursor: pointer;
		}
	}
	.grabbing {
		cursor:url(../../../../img/grabbing.png) 8 8, move;
	}
}

@media (min-width: $screen-sm){
	.back-top{
		display: none;
		position: fixed;
		right: 25px;
		bottom: 25px;
		overflow: hidden;
		z-index: 9998;
		a{
			background: $dark-color;
			color: $light-text-color;
			width: 40px;
			height: 40px;
			line-height: 40px;
			display: block;
			text-align: center;
			text-decoration: none;
			@include transition(all 500ms ease-in-out);
			&:after{
				content: "\f102";
				font-family: $font-icon;
				font-size: 25px;
			}
			&:hover{
				background: $main-color;
			}
		}
	}
}

.form-control:focus, a:hover, a:focus, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active{
	outline: 0 !important;
	text-decoration: none !important;
	box-shadow: none !important;
}
a{
	@include transition(all 300ms ease);
}