<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>isoordersxmlexport</name>
	<displayName><![CDATA[Orders XML export]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Orders XML export module]]></description>
	<author><![CDATA[GDT]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
